{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2>History</h2>
    <table class="table table-bordered table-striped">
        <thead class="thread-dark">
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.price|usd }}</td>
                    <td>{{ (transaction.shares * transaction.price)|usd }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
